/* استایل برای امتیاز */
#score {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 24px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2c2c;
}

.spinner {
  width: 150px;
  height: 150px;
}
